<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NearestNeighbor/src/NearestNeighborGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="NearestNeighborGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\BenGurion\Semester7\NearestNeighbour\dataBaseTrainSet.txt&#13;&#10;C:\BenGurion\Semester7\NearestNeighbour\dataBaseTestSet.txt&#13;&#10;&quot;vector1&quot;&#13;&#10;&quot;euclidian&quot;&#13;&#10;0.5"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NearestNeighbor"/>
</launchConfiguration>
